h1 {
    margin: 0
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;

    button {
        background-color: #399d9b;
        border-radius: 0.125rem;
        border: none;
        color: white;
        display: inline-flex;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        font-size: .8em;
        align-items: center;
        justify-content: center;
        width: 6em;
        height: 2em;
        &:hover {
            cursor: pointer;
            background-color: #218685;
        }
    }

    .active {
        background-color: #218685;
    }
  }